html,
body {
  font-family: "Roboto";
  color: white;
  background-color: #252b42;
}
* {
  box-sizing: border-box;
}
button {
  cursor: pointer;
}
.header {
  padding: 38px;
  font-size: 15px;
}
.header nav ul li a {
  color: white;
  text-decoration: none;
  transition: font-size 0.15s ease-in-out;
}
.header nav ul li {
  flex: 1;
  display: flex;
  justify-content: center;
}
.header nav ul li a:hover {
  font-size: 18px;
  transition: font-size 0.15s ease-in-out;
}
.header-logo {
  width: 186px;
  height: 58px;
}

.header > div {
  width: 33.33%;
}

.input {
  border-radius: 39px;
  background-color: #efefef;
  padding: 19px 39px;
  border: 0px;
  font-size: 14px;
}

.input::placeholder {
  color: #18171d;
}

.btn {
  border-radius: 35px;
  padding: 19px 39px;
  border: 0px;
  font-weight: bold;
  background-color: white;
  font-size: 16px;
  line-height: 16px;
  transition: all 0.15s ease-in-out;
}
.btn:hover {
  opacity: 0.8;
  transition: all 0.15s ease-in-out;
}
.btn2{
  
  border-radius: 35px;
  padding: 19px 39px;
 
  border: 0px;d:\Program Files\Microsoft VS Code\resources\app\out\vs\code\electron-sandbox\workbench\workbench.html
  font-weight: bold;
  background-color: #38a3f1;
  font-size: 16px;
  line-height: 16px;
  transition: all 0.15s ease-in-out;
}
.btn:active {
  opacity: 0.6;
  transition: all 0.15s ease-in-out;
}

.header-mail-input-container {
  margin-right: 12px;
}

.bg-gradient {
  background: linear-gradient(39.97deg, #ef2779 0.79%, #7834be 79.29%);
  height: 805px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 0;
}
.bg-gradient > div {
  position: relative;
  width: 100%;
  height: 100%;
}
.bg-gradient svg {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
}
.text-pink {
  color: #ef2779;
}
main {
  position: relative;
  z-index: 1;
}

#above-the-fold > div:nth-child(1) {
  flex: 3;
}
#above-the-fold > div:nth-child(2) {
  flex: 2;
}
#above-the-fold .screenshot-image-container {
  padding: 50px;
  padding-left: 0;
}
#above-the-fold {
  align-items: center;
}

h1 {
  font-size: 55px;
  font-weight: 900;
  color: white;
}
p {
  font-size: 16px;
  font-weight: 700;
}

.slogan-container {
  padding: 40px;
}
.text-blue {
  color: #38a3f1;
}

@media only screen and (max-width: 1240px) {
  .d-mobile-none {
    display: none;
  }
  #above-the-fold {
    flex-direction: column-reverse;
   
  }
  #above-the-fold .screenshot-image-container {
    padding: 23px;
  }
  h1 {
    font-size: 46px;
    font-weight: 400;
  }
  .slogan-container {
    text-align: center;
  }
}
@media only screen and (min-width: 1240px) {
  .d-desktop-block {
    display: block;
  }
  .d-desktop-none {
    display: none;
  }
}

#div1{
    
    text-align: center;
    margin-top: 200px;
    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 33px;

/* identical to box height, or 150% */
text-align: center;
letter-spacing: 0.1px;

/* Light text */
color: #FFFFFF;
}

.flex-container1 > div:nth-child(1){

  /* background-color: red; */
  padding-left: 25vh;
  width: 33.33%;
  margin-top: 100px;
  margin: 10px;
  text-align: left;
  line-height: 75px;
  font-size: 30px;
}
.flex-container1 > div:nth-child(2){

    /* background-color: blue; */
    width: 27.33%;
    padding-left: 25vh;
    margin-top: 100px;
    margin: 10px;
    text-align: left;
    line-height: 75px;
    font-size: 30px;
  }
  .flex-container1 > div:nth-child(3){

    /* background-color: red; */
    width: 39.33%;
    padding-left: 25vh;
    margin-top: 100px;
    margin: 10px;
    text-align: left;
    line-height: 75px;
    font-size: 30px;
  }

.axha{
    width: 43px;
    height: 43.5px;
    
}

.font2{

    font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 33px;

/* or 150% */
letter-spacing: 0.1px;

/* Light text */
color: #FFFFFF;
}
.font3{
    font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 27px;
margin-top: 20px;
/* or 150% */
letter-spacing: 0.2px;

/* Light text */
color: #FFFFFF;
}

.test1 img{
float:left

}
.test1 p:nth-child(1){
float: right;
}
@media only screen and (max-width: 1240px) {
    .d-flex {
        flex-flow: wrap;
      }
      .flex-container1 > div:nth-child(1){
        width: 100%;
        padding-left: 40vw;
      }
      .flex-container1 > div:nth-child(2){
          width: 100%;
          padding-left: 40vw;
        }
        .flex-container1 > div:nth-child(3){
            width: 100%;
            padding-left: 40vw;
        }
        
    }

    p.wow{
      font-family: 'Roboto';
font-style: normal;
font-weight: 400;
font-size: 46px;
line-height: 57px;

/* or 124% */
text-align: center;
letter-spacing: 0.2px;

/* Light text */
color: #FFFFFF;
       margin-top: 200px;
    }
    p.wow2{

      font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 20px;

/* or 125% */
text-align: center;
letter-spacing: 0.2px;
margin-top: 27px;
    }

 #img1{ 
  height: 497.81182861328125px;
  width: 796.5765991210938px;
   display: block; 
  margin-left: auto;
  margin-right: auto;
  margin-top: 113px;
 
}

